<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>573815287508-c8j7j7qd0t1m4nekpcm5q9mp6u32p4pb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.573815287508-c8j7j7qd0t1m4nekpcm5q9mp6u32p4pb</string>
	<key>API_KEY</key>
	<string>AIzaSyCc_JC2GkX35W0MoO5TIFa65R1FRCvkKHo</string>
	<key>GCM_SENDER_ID</key>
	<string>573815287508</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.vocalog</string>
	<key>PROJECT_ID</key>
	<string>dictionary-abfac</string>
	<key>STORAGE_BUCKET</key>
	<string>dictionary-abfac.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:573815287508:ios:01eb520c6dbb73c1a55541</string>
</dict>
</plist>